:root {

  --bg-color: #030810;
  --actn-color: #FFD700;
  --font-unbounded: 'Unbounded', sans-serif;
  --font-nunito: 'Nunito',
    sans-serif;


}

.btn {
  border-radius: 18px;
  border: 2px solid var(--actn-color);
  font-family: var(--font-unbounded);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

  &:hover {


    background-color: var(--actn-color);
    color: #333;
  }
}